<h1>Listings Search</h1>
<form action="/listings" class="inline">
<div class="form-group">
        <label for="type_radios">What are you searching for?</label>
        <div id="type_radios">
        <div class="radio">
		<label><input type="radio" name="type" value="offer" checked> Offers </label>
        </div>
        <div class="radio">
                <label><input id="type_request" type="radio" name="type" value="request"> Requests</label>
        </div>
        </div>
        
</div>

<div class="form-group">
     <label for="start_pac_input">Departure location:</label>
     <input id="start_pac_input" class="controls" type="text"
		placeholder="Enter a starting location">
     <label for"depart_time_range_begin">
</div>
Depart time range start: <input name="depart_time_range_begin" type="datetime-local">
</br> 
Depart time range end: <input name="depart_time_range_end" type="datetime-local">
</br> 
Max detour_time (if searching for requests)<input type="number" name="detour_time" value=0>
</br>
<input id="dest_pac_input" class="controls" type="text"
placeholder="Enter a destination location">
<input type="hidden" name="depart_location" id="listing_start_maps_id">
<input type="hidden" name="destination_location" id="listing_dest_maps_id">

<button type="submit">Submit</button>
</form>

<script>
function initAutocomplete() {

	var startLocationInput = document.getElementById('start_pac_input');
	var destLocationInput = document.getElementById('dest_pac_input');
	var startPlaceIDField = document.getElementById('listing_start_maps_id');
	var destPlaceIDField = document.getElementById('listing_dest_maps_id');



	var startAutocomplete = new google.maps.places.Autocomplete(startLocationInput);
	var endAutocomplete = new google.maps.places.Autocomplete(destLocationInput);


	startAutocomplete.addListener('place_changed', function() {

		var place = startAutocomplete.getPlace();
		if (!place.geometry) {
			return;
		}

		startPlaceIDField.value =place.place_id;

	});

	endAutocomplete.addListener('place_changed', function() {

		var place = endAutocomplete.getPlace();
		if (!place.geometry) {
			return;
		}

		destPlaceIDField.value = place.place_id;


	});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= MapsService.new.secret %>&libraries=places&signed_in=true&callback=initAutocomplete"
async defer></script>
