<div class="container">
<h3>Search</h3>
<form action="/listings" class="form-horizontal">
<div class="form-group">
     <label for="type_radios">What do you need?</label>
        
    <div id="type_radios" class="input-group">
        <div class="radio input-group-addon">
		<label><input type="radio" name="type" value="offer" checked> A ride </label>
        </div>
        <div class="radio input-group-addon">
                <label><input id="type_request" type="radio" name="type" value="request"> To fill seats</label>
        </div>
        
     </div>
        
</div>

<div class="form-group">
     <label for="start_pac_input">Where are you leaving from?</label>
     <input id="start_pac_input" class="form-control" type="text"
		placeholder="Enter a starting location">
     <label for="depart_range">When would you like to leave?</label>
     <div id="depart_range" class="form-inline">
        <label for="depart_time_range_begin">Between</label>
	<input class="form-control" id="depart_time_range_begin" name="depart_time_range_begin" type="datetime-local">
         <label for="depart_time_range_end"> - </label>
        <input class="form-control" id="depart_time_range_end" name="depart_time_range_end" type="datetime-local">
     </div>
     <label for="dest_pac_input">Where do you want to go?</label>
     <input class="form-control" id="dest_pac_input" class="controls" type="text"
		placeholder="Enter a destination location">
</div>
<div id="detour" class="form-group">
   <label for="detour_time">Detour time:</label>
   <div class="input-group">
   <input class="form-control" type="number" id="detour_time" name="detour_time" value=0>
    <div class="input-group-addon">minutes</div>
   </div>
   <p class="help-block">The amount of additional time you're willing to drive to let someone car pool with you.</p>
</div> 

<input type="hidden" name="depart_location" id="listing_start_maps_id">
<input type="hidden" name="destination_location" id="listing_dest_maps_id">
<div class="form-group">
<button class="btn btn-primary" type="submit">Submit</button>
</div>
</form>
</div>
<script>
$(document).ready(function() {
   $("#detour").hide();
   $("input[name$='type']").click(function(){
	if($(this).val() == "request"){
          $("#detour").show();
        }
        else{
          $("#detour").hide();
        }
   });
});

function initAutocomplete() {

	var startLocationInput = document.getElementById('start_pac_input');
	var destLocationInput = document.getElementById('dest_pac_input');
	var startPlaceIDField = document.getElementById('listing_start_maps_id');
	var destPlaceIDField = document.getElementById('listing_dest_maps_id');



	var startAutocomplete = new google.maps.places.Autocomplete(startLocationInput);
	var endAutocomplete = new google.maps.places.Autocomplete(destLocationInput);


	startAutocomplete.addListener('place_changed', function() {

		var place = startAutocomplete.getPlace();
		if (!place.geometry) {
			return;
		}

		startPlaceIDField.value =place.place_id;

	});

	endAutocomplete.addListener('place_changed', function() {

		var place = endAutocomplete.getPlace();
		if (!place.geometry) {
			return;
		}

		destPlaceIDField.value = place.place_id;


	});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= MapsService.new.secret %>&libraries=places&signed_in=true&callback=initAutocomplete"
async defer></script>
